.news-wrapper {
  margin-top: 20px;
  padding: 10px 0px;
}

.news-backgroud {
  background: url("/assets/img/inazuma-1.jpg");
  background-size: 100% 100%;
}

.news-box-fisrt {
  width: 100%;
  display: flex;
  gap: 20px;
}

.news-box-fisrt .main-video {
  height: 466px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.527);
}

.news-box-fisrt .posts-b {
  background-color: rgba(0, 0, 0, 0.527);
  width: calc(40% - 20px);
  padding: 25px 30px;
}

.posts-b > .title {
  color: aliceblue;
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
}

.posts-b > .title::after {
  margin-top: 4px;
  content: "";
  display: block;
  height: 2px;
  width: 108px;
  background-color: #61e765;
}

.posts-b-list {
  margin-top: 20px;
}

.posts-b-list .post-item {
  height: 80px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  background-color: #00000038;
}

.posts-b-list .post-item:last-child {
  margin-bottom: 0px;
}

.posts-b-list .post-item .thumbs {
  height: 100%;
}

.posts-b-list .post-item .thumbs img {
  height: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
}

.post-item .post-info {
  position: relative;
  padding: 8px;
  padding-left: 0px;
  width: 100%;
}

.post-item .post-info .title {
  color: aliceblue;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: "Signika", sans-serif;
}

.post-info .date {
  position: absolute;
  bottom: 5px;
  color: #9d9d9d;
  font-family: "Signika", sans-serif;
}

.post-info .category {
  position: absolute;
  bottom: 5px;
  right: 8px;
  color: #61e765;
  font-family: "Signika", sans-serif;
}

.news-box-second {
  margin-top: 20px;
}

.news-box-second > .title {
  color: aliceblue;
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
}

.swiper-news {
  margin-top: 10px;
}

.swiper-news img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: all 0.3s ease;
}

.swiper-news .posts {
  border-radius: 3px;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.527);
}

.swiper-news .posts > .title {
  height: 50px;
  margin-top: 5px;
  color: aliceblue;
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.swiper-news .posts > .date {
  margin-top: 10px;
  color: #9d9d9d;
  font-family: "Signika", sans-serif;
}

.swiper-news .posts > .thumbs {
  position: relative;
  overflow: hidden;
}

.swiper-news .posts:hover .thumbs > img {
  transform: scale(1.2);
}

.swiper-news .posts > .thumbs > .category {
  font-family: "Signika Negative", sans-serif;
  background-color: #191919b2;
  border-radius: 3px;
  padding: 8px 10px;
  color: #61e765;
  position: absolute;
  top: 8px;
  right: 8px;
}